body{background: black;

    color: yellow;
}

div{
    color: yellow;

}
#numDatos{

    background: black;

    color: yellow;
}
#numGuia{
    background: black;

    color: yellow;
}
#num{
    background: black;

    color: yellow;
}
#resultTextArea{
    background: black;

    color: yellow;
}